<!DOCTYPE html>
<html>
  <head>
    <title>Slido</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/bar.css">
    <link rel="stylesheet" href="/stylesheets/dashboard.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
  </head>
  <body>
    <div class="top_bar">
      <div class="left_leaning">
        <a href="/">Slido</a>
      </div>
      <div class="right_leaning">
        <a href="/"><img src="/images/logout.png" alt="logout"></a>
      </div>
    </div>

    <div id="about_user" class="container">
      <div class="description">
        <h2><%= user_first_name%> <%=user_last_name%></h2>
        <p class="comment"><%= user_description%></p>
      </div>
      <div class="image">
        <img id="profile_pic" src="<%=user_image%>" alt="">
      </div>
    </div>

  <div id="lectures" class="container">
    <% for(let i = 0; i < lectures.length; i++) { %>
      <div class="lecture">
        <a href="/lecture/<%=lectures[i].lecture_id%>"><%=lectures[i].title%></a>
        <span class="comment">#<%= lectures[i].lecture_id %></span>
        <p class="date">Start: <%=lectures[i].creation_date  %></p>
        <p class="date">End:  ㅤ   ㅤ  <%=lectures[i].ending_date%></p>
        <p class="comment"><%=lectures[i].description%></p>
      </div>
    <% } %>
    <a id="add_new_lesson" href="/lecture/newlecture">Add a new lecture</a>
  </div>

  </body>
</html>
