<!DOCTYPE html>
<html>
  <head>
    <title>Slido</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/bar.css">
    <link rel="stylesheet" href="/stylesheets/dashboard.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
  </head>
  <body>
    <div class="top_bar">
      <div class="left_leaning">
        <a href="/">Slido</a>
      </div>
      <div class="right_leaning">
        <form action="logout" method="POST">
          <button><img src="/images/logout.png" alt="logout"></button>
        </form>
      </div>
    </div>

    <div id="about_user" class="container">
      <div class="description">
        <h2><%= user_first_name%> <%=user_last_name%></h2>
        <p class="comment"><%= user_description%></p>
      </div>
      <div class="image">
        <img id="profile_pic" src="<%=user_image%>" alt="">
      </div>
    </div>

  <div id="lectures" class="container">
    <% for(let i = 0; i < lectures.length; i++) { %>
      <div class="lecture">
        <a href="/lecture/<%=lectures[i].lecture_id%>"><%=lectures[i].title%></a>
        <button class="share" id="<%=lectures[i].lecture_id%>" onclick="location.href = 'http://localhost:3000/share/<%=lectures[i].lecture_id%>'">Share</button>
        <span class="comment">#<%= lectures[i].lecture_id %></span>
        <span class="comment"> Visible: <%=lectures[i].status%></span>
        <div class="statistics">
          <p>Number of total questions: <%=lectures[i].number_of_questions%></p>
          <%
            let unanswered = 0;
            for(let j = 0; j < questions.length; j++)
              if(questions[j].lecture_id ==  lectures[i].lecture_id && questions[j].answered == false) {
                unanswered++;
              }
          %>
          <p>Number of unanswered questions: <%= unanswered%> </p>
        </div>
        <p class="date">Start: <%=lectures[i].creation_date  %></p>
        <p class="date">End:  ㅤ   ㅤ  <%=lectures[i].ending_date%></p>
        <p class="comment"><%=lectures[i].description%></p>
        <div class="grade">
          <%
            let avg = 0;
            let count = 0;
            for(let j = 0; j < grades.length; j++) {
              if(grades[j].lecture_id == lectures[i].lecture_id) {
                avg += grades[j].grade;
                count++;
              }
            }
            avg = avg / count;
          %>
          <p>Grade: <%=avg.toFixed(2)%></p>
        </div>
      </div>
    <% } %>
    <a id="add_new_lesson" href="/lecture/newlecture">Add a new lecture</a>
  </div>

    <script src="/javascripts/dashboard.js"></script>
  </body>
</html>
