<!DOCTYPE html>
<html>
  <head>
    <title>Slido</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/bar.css">
    <link rel="stylesheet" href="/stylesheets/guestlecture.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
  </head>
  <body>
    <div class="top_bar">
      <div class="left_leaning">
        <a href="/">Slido</a>
      </div>
      <div class="right_leaning">
        <a href="login"><img src="/images/login.png" alt="login"></a>
        <a href="signup"><img src="/images/signup.png" alt="login"></a>
      </div>
    </div>

    <div id="description" class="container">
        <h2><%=title%></h2>
      <span id="code"><%=code%></span>
        <p class="comment">Start: <%=creation_date%></p>
        <p class="comment">End:  ㅤ   ㅤ  <%=ending_date%></p>
        <p><%=description%></p>
    </div>


    <div class="container" id="chat">
      <h2>Chat</h2>

      <div class="chatbox">
        <%for(let i = 0; i < questions.length; i++) {%>
          <div class="line" id="<%= questions[i].question_id%>">
            <p style="padding-right: 1rem"><%= i %></p>
            <p><%=questions[i].text%></p>
          </div>
          <div id="answers<%=questions[i].question_id%>">
            <%for(let j = 0; j < answers.length; j++) {%>
              <%if(answers[j].question_id == questions[i].question_id) {%>
                <p class="answered"><%=answers[j].text%></p>
              <%}%>
            <%}%>
          </div>

        <%}%>
      </div>
      <div class="chat-form-container">
        <form id="chat-form" method="POST">
          <input
                  id="msg"
                  type="text"
                  placeholder="Enter Message"
                  required
                  autocomplete="off"
          />
          <button><img style="height: 1rem;" src="/images/next.png" alt="next"></button>
        </form>
      </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src ="javascripts/chat.js"></script>

  </body>
</html>
