<!DOCTYPE html>
<html>
  <head>
    <title><%= title%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/bar.css">
    <link rel="stylesheet" href="/stylesheets/lecture.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
  </head>
  <body>
    <div class="top_bar">
      <div class="left_leaning">
        <a href="/">Slido</a>
      </div>
      <div class="right_leaning">
        <form action="logout" method="POST">
          <button><img src="/images/logout.png" alt="logout"></button>
        </form>
      </div>
    </div>
  <div id="description" class="container" style="background: url('../<%=image%>');  background-size: cover; opacity: 0.75;">
    <div class="flex">
      <h2><%=title%></h2>
      <p id="code"><%=code%></p>
      <p class="comment">Start: <%=creation_date%></p>
      <p class="comment">End:  ㅤ   ㅤ  <%=ending_date%></p>
      <p><%=description%></p>
    </div>

  </div>


  <div id="chat">
    <h2>Chat</h2>
    <%if (status == true) {%>
      <button><img id="delete" src="/images/delete.png" alt="delete" style="width: 2rem" onclick="location.href = 'http://localhost:3000/user/dashboard'"></button>
    <%} else {%>
      <button><img id="delete" src="/images/next.png" alt="return lecture" style="width: 2rem" onclick="location.href = 'http://localhost:3000/user/dashboard'"></button>
    <%}%>
    <div class="chatbox">
    <%for(let i = 0; i < questions.length; i++) {%>
      <div class="line">
        <p style="padding-right: 1rem"><%= i %></p>
        <p><%=questions[i].text%></p>
      </div>

      <div id="<%=questions[i].question_id%>">
        <%for(let j = 0; j < answers.length; j++) {%>
          <%if(answers[j].question_id == questions[i].question_id) {%>
            <p class="answer"><%=answers[j].text%></p>
          <%}%>
        <%}%>
      </div>

      <div class="answer">
        <form class="answer-form" id="<%= questions[i].question_id%>">
          <input id="msg" type="text" placeholder="Enter Answer" required autocomplete="off">
          <button type="submit" id="answer-btn"><img style="height: 1rem;" src="/images/next.png" alt="next"></button>
        </form>
      </div>
    <%}%>
    </div>
  </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/lecture.js"></script>
  </body>
</html>
